<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/first.css')}}">
    <title>Document</title>
</head>
<body>
    <form action="/cr" method="post">    
    <input type="text" name="user"><br><br>
    <input type="password" name="password"><br><br> 
    <input type="Submit">
</form>

    <h1> Shivam is a gunda boy. bad element of the society </h1>
</body>
</html>